<div class="container-fluid">

    <div class="row height d-flex justify-content-center align-items-center mb-5">
      <div class="col-md-6">
        <form action="" class="form">
          <input [(ngModel)]="userName" name="userName" type="search" class="form-control form-input" (keyup)="findUser()"
            placeholder="Search Users ...">
        </form>
      </div>
    </div>
  
    <div class="row d-flex justify-content-center align-items-center">
      <div *ngIf="users" class="float-start m-1 row  col-md-6 mt-4">
        <div class="card py-4 col-md-6">
          <div class="d-flex justify-content-center align-items-center">
            <div class="round-image">
              <img [src]="users.avatar_url" class="rounded-circle" width="97">
            </div>
          </div>
          <div class="text-center">
            <h4 class="mt-3">{{users.login}}</h4>
            <h5>Gists: {{users.public_gists |doubleGist}}</h5>
            <div class="row">
              <div class="position-relative mt-3 col-md-6">
                <span class="badge text-dark rounded p-2 mt-1" [ngStyle]="{'background-color': '#e9eae3'}">
                  Repositories
                  <span class="position-absolute top-0 p-1 mb-2 text-light translate-middle badge rounded-pill"
                    [ngStyle]="{'background-color': '#000'}">
                    {{users.public_repos}}
                  </span>
                </span>
              </div>
  
              <div class="position-relative mt-3 col-md-6">
                <span class="badge text-dark rounded p-2 mt-1" [ngStyle]="{'background-color': '#e9eae3'}">
                  Followers
                  <span class="position-absolute top-0 p-1 mb-2 text-light translate-middle badge rounded-pill"
                    [ngStyle]="{'background-color': '#000'}">
                    {{users.followers}}
                  </span>
                </span>
              </div>
  
              <div class="position-relative mt-3 col-md-6">
                <span class="badge text-dark rounded p-2 mt-1" [ngStyle]="{'background-color': '#e9eae3'}">
                  Following
                  <span class="position-absolute top-0 p-1 mb-2 text-light translate-middle badge rounded-pill"
                    [ngStyle]="{'background-color': '#000'}">
                    {{users.following}}
                  </span>
                </span>
              </div>
  
  
  
              <div class="position-relative mt-3 col-md-6">
                <button [ngStyle]="{'background-color':'#e9eae3'}" type="button"
                  class="btn btn-light badge text-dark rounded p-2 mt-1">
                  <a target="blank" [href]="users.html_url" class="view-btn">View User</a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-repo (refreshEvent)="refreshWindow()" *ngIf="users" [name]="userName" class="m-3 p-3"></app-repo>
  
    </div>
