<div class="container">
    <div class="card">
        <div class="content row">
            <div class="col-md-6">
                <div class="p-5">
                    <h1>Git Search Engine</h1>
                    <p>A MS project aimed at making github users search and favaourite repositories easier to locate</p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="text-center p-2 footer"> 
   &copy; 2022  |  
   <span [ngStyle]="{'color': '#be96f8'}"> 
       <a href="https://github.com/wilowala"> William Owalla</a>
    </span>
 </div>
